<section id="catalog" class="catalog">
    <div class="container">
        <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-list">
            <li class="catalog-list-item">

                <div class="catolog-item-wrp">

                    <img src="./img/catalog/1.jpg" srcset="./img/catalog/1.jpg, ./img/catalog/1@x2.jpg 2x"
                        alt="Watch S42" class="catalog-item-img" width="335" height="360">

                    <div class="catalog-wrp-cover">
                        <h3 class="catalog-cover-title">Description</h3>
                        <p class="catalog-cover-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="catalog-cover-title">DETAILS & FEATUREStion</h3>
                        <p class="catalog-cover-text">Gender: man<br>
                            Size: 46x54.5mm<br>
                            Case Colour: Steel<br>
                            Band Material: Metal<br>
                            Case Material: Metal<br>
                            Features: Multifunction<br>
                            Water Resistant: 5 (ATM)<br>
                            Band Colour: Steel</p>
                    </div>
                </div>
                <p class="catalog-item-title">Tube Watch S42 Date Steel With Black Case</p>
                <span class="catalog-item-price">€395</span>
            </li>
            <li class="catalog-list-item">
                <div class="catolog-item-wrp">
                    <img src="./img/catalog/2.jpg" srcset="./img/catalog/2.jpg, ./img/catalog/2@x2.jpg 2x"
                        alt="Police Men’s Greenlane watch" class="catalog-item-img" width="335" height="360">
                    <div class="catalog-wrp-cover">
                        <h3 class="catalog-cover-title">Description</h3>
                        <p class="catalog-cover-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="catalog-cover-title">DETAILS & FEATUREStion</h3>
                        <p class="catalog-cover-text">Gender: man<br>
                            Size: 46x54.5mm<br>
                            Case Colour: Steel<br>
                            Band Material: Metal<br>
                            Case Material: Metal<br>
                            Features: Multifunction<br>
                            Water Resistant: 5 (ATM)<br>
                            Band Colour: Steel</p>
                    </div>
                </div>
                <p class="catalog-item-title">Avondale Watch Police For Men</p>
                <span class="catalog-item-price">€800</span>
            </li>
            <li class="catalog-list-item">
                <div class="catolog-item-wrp">
                    <img src="./img/catalog/3.jpg" srcset="./img/catalog/3.jpg, ./img/catalog/3@x2.jpg 2x"
                        alt="Tube Watch S42" class="catalog-item-img" width="335" height="360">
                    <div class="catalog-wrp-cover">
                        <h3 class="catalog-cover-title">Description</h3>
                        <p class="catalog-cover-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="catalog-cover-title">DETAILS & FEATUREStion</h3>
                        <p class="catalog-cover-text">Gender: man<br>
                            Size: 46x54.5mm<br>
                            Case Colour: Steel<br>
                            Band Material: Metal<br>
                            Case Material: Metal<br>
                            Features: Multifunction<br>
                            Water Resistant: 5 (ATM)<br>
                            Band Colour: Steel</p>
                    </div>
                </div>
                <p class="catalog-item-title">Diver 300M Co‑Axial Master Chronometer Chronograph</p>
                <span class="catalog-item-price">€600</span>
            </li>
            <li class="catalog-list-item">
                <div class="catolog-item-wrp">
                    <img src="./img/catalog/4.jpg" srcset="./img/catalog/4.jpg, ./img/catalog/4@x2.jpg 2x"
                        alt="Tube Watch S42" class="catalog-item-img" width="335" height="360">
                    <div class="catalog-wrp-cover">
                        <h3 class="catalog-cover-title">Description</h3>
                        <p class="catalog-cover-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="catalog-cover-title">DETAILS & FEATUREStion</h3>
                        <p class="catalog-cover-text">Gender: man<br>
                            Size: 46x54.5mm<br>
                            Case Colour: Steel<br>
                            Band Material: Metal<br>
                            Case Material: Metal<br>
                            Features: Multifunction<br>
                            Water Resistant: 5 (ATM)<br>
                            Band Colour: Steel</p>
                    </div>
                </div>
                <p class="catalog-item-title">Diver 300M Co-Axial Master Chronometer</p>
                <span class="catalog-item-price">€1400</span>
            </li>
            <li class="catalog-list-item">
                <div class="catolog-item-wrp">
                    <img src="./img/catalog/5.jpg" srcset="./img/catalog/5.jpg, ./img/catalog/5@x2.jpg 2x"
                        alt="Tube Watch S42" class="catalog-item-img" width="335" height="360">
                    <div class="catalog-wrp-cover">
                        <h3 class="catalog-cover-title">Description</h3>
                        <p class="catalog-cover-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="catalog-cover-title">DETAILS & FEATUREStion</h3>
                        <p class="catalog-cover-text">Gender: man<br>
                            Size: 46x54.5mm<br>
                            Case Colour: Steel<br>
                            Band Material: Metal<br>
                            Case Material: Metal<br>
                            Features: Multifunction<br>
                            Water Resistant: 5 (ATM)<br>
                            Band Colour: Steel</p>
                    </div>
                </div>
                <p class="catalog-item-title">Taman Watch By Police For Men</p>
                <span class="catalog-item-price">€500</span>
            </li>
            <li class="catalog-list-item">
                <div class="catolog-item-wrp">
                    <img src="./img/catalog/6.jpg" srcset="./img/catalog/6.jpg, ./img/catalog/6@x2.jpg 2x"
                        alt="Tube Watch S42" class="catalog-item-img" width="335" height="360">
                    <div class="catalog-wrp-cover">
                        <h3 class="catalog-cover-title">Description</h3>
                        <p class="catalog-cover-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="catalog-cover-title">DETAILS & FEATUREStion</h3>
                        <p class="catalog-cover-text">Gender: man<br>
                            Size: 46x54.5mm<br>
                            Case Colour: Steel<br>
                            Band Material: Metal<br>
                            Case Material: Metal<br>
                            Features: Multifunction<br>
                            Water Resistant: 5 (ATM)<br>
                            Band Colour: Steel</p>
                    </div>
                </div>
                <p class="catalog-item-title">Malawi Watch Police For Men</p>
                <span class="catalog-item-price">€555</span>
            </li>
            <li class="catalog-list-item">
                <div class="catolog-item-wrp">
                    <img src="./img/catalog/7.jpg" srcset="./img/catalog/7.jpg, ./img/catalog/7@x2.jpg 2x"
                        alt="Tube Watch S42" class="catalog-item-img" width="335" height="360">
                    <div class="catalog-wrp-cover">
                        <h3 class="catalog-cover-title">Description</h3>
                        <p class="catalog-cover-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="catalog-cover-title">DETAILS & FEATUREStion</h3>
                        <p class="catalog-cover-text">Gender: man<br>
                            Size: 46x54.5mm<br>
                            Case Colour: Steel<br>
                            Band Material: Metal<br>
                            Case Material: Metal<br>
                            Features: Multifunction<br>
                            Water Resistant: 5 (ATM)<br>
                            Band Colour: Steel</p>
                    </div>
                </div>
                <p class="catalog-item-title">Diver 300M Co-Axial Master Chronometer</p>
                <span class="catalog-item-price">€1200</span>
            </li>
            <li class="catalog-list-item">
                <div class="catolog-item-wrp">
                    <img src="./img/catalog/8.jpg" srcset="./img/catalog/8.jpg, ./img/catalog/8@x2.jpg 2x"
                        alt="Tube Watch S42" class="catalog-item-img" width="335" height="360">
                    <div class="catalog-wrp-cover">
                        <h3 class="catalog-cover-title">Description</h3>
                        <p class="catalog-cover-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="catalog-cover-title">DETAILS & FEATUREStion</h3>
                        <p class="catalog-cover-text">Gender: man<br>
                            Size: 46x54.5mm<br>
                            Case Colour: Steel<br>
                            Band Material: Metal<br>
                            Case Material: Metal<br>
                            Features: Multifunction<br>
                            Water Resistant: 5 (ATM)<br>
                            Band Colour: Steel</p>
                    </div>
                </div>
                <p class="catalog-item-title">Greenlane Watch By Police For Men</p>
                <span class="catalog-item-price">€1000</span>
            </li>
            <li class="catalog-list-item">
                <div class="catolog-item-wrp">
                    <img src="./img/catalog/9.jpg" srcset="./img/catalog/9.jpg, ./img/catalog/9@x2.jpg 2x"
                        alt="Tube Watch S42" class="catalog-item-img" width="335" height="360">
                    <div class="catalog-wrp-cover">
                        <h3 class="catalog-cover-title">Description</h3>
                        <p class="catalog-cover-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="catalog-cover-title">DETAILS & FEATUREStion</h3>
                        <p class="catalog-cover-text">Gender: man<br>
                            Size: 46x54.5mm<br>
                            Case Colour: Steel<br>
                            Band Material: Metal<br>
                            Case Material: Metal<br>
                            Features: Multifunction<br>
                            Water Resistant: 5 (ATM)<br>
                            Band Colour: Steel</p>
                    </div>
                </div>
                <p class="catalog-item-title">Squardrc 5402 Chrono</p>
                <span class="catalog-item-price">€359</span>
            </li>
            <li class="catalog-list-item">
                <div class="catolog-item-wrp">
                    <img src="./img/catalog/10.jpg" srcset="./img/catalog/10.jpg, ./img/catalog/10@x2.jpg 2x"
                        alt="Tube Watch S42" class="catalog-item-img" width="335" height="360">
                    <div class="catalog-wrp-cover">
                        <h3 class="catalog-cover-title">Description</h3>
                        <p class="catalog-cover-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="catalog-cover-title">DETAILS & FEATUREStion</h3>
                        <p class="catalog-cover-text">Gender: man<br>
                            Size: 46x54.5mm<br>
                            Case Colour: Steel<br>
                            Band Material: Metal<br>
                            Case Material: Metal<br>
                            Features: Multifunction<br>
                            Water Resistant: 5 (ATM)<br>
                            Band Colour: Steel</p>
                    </div>
                </div>
                <p class="catalog-item-title">Diver 300M Co‑Axial Master Chronometer Chronograph</p>
                <span class="catalog-item-price">€400</span>
            </li>
            <li class="catalog-list-item">
                <div class="catolog-item-wrp">
                    <img src="./img/catalog/11.jpg" srcset="./img/catalog/11.jpg, ./img/catalog/11@x2.jpg 2x"
                        alt="Tube Watch S42" class="catalog-item-img" width="335" height="360">
                    <div class="catalog-wrp-cover">
                        <h3 class="catalog-cover-title">Description</h3>
                        <p class="catalog-cover-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="catalog-cover-title">DETAILS & FEATUREStion</h3>
                        <p class="catalog-cover-text">Gender: man<br>
                            Size: 46x54.5mm<br>
                            Case Colour: Steel<br>
                            Band Material: Metal<br>
                            Case Material: Metal<br>
                            Features: Multifunction<br>
                            Water Resistant: 5 (ATM)<br>
                            Band Colour: Steel</p>
                    </div>
                </div>
                <p class="catalog-item-title">Citizen</p>
                <span class="catalog-item-price">€519</span>
            </li>
            <li class="catalog-list-item">
                <div class="catolog-item-wrp">
                    <img src="./img/catalog/12.jpg" srcset="./img/catalog/12.jpg, ./img/catalog/12@x2.jpg 2x"
                        alt="Tube Watch S42" class="catalog-item-img" width="335" height="360">
                    <div class="catalog-wrp-cover">
                        <h3 class="catalog-cover-title">Description</h3>
                        <p class="catalog-cover-text">Richly detailed with an understated design - the Police Men’s
                            Greenlane watch.</p>
                        <h3 class="catalog-cover-title">DETAILS & FEATUREStion</h3>
                        <p class="catalog-cover-text">Gender: man<br>
                            Size: 46x54.5mm<br>
                            Case Colour: Steel<br>
                            Band Material: Metal<br>
                            Case Material: Metal<br>
                            Features: Multifunction<br>
                            Water Resistant: 5 (ATM)<br>
                            Band Colour: Steel</p>
                    </div>
                </div>
                <p class="catalog-item-title">Armani Exchange</p>
                <span class="catalog-item-price">€400</span>
            </li>
        </ul>
        <button class="catalog-btn" type="button" data-modal-open>Buy now</button>
    </div>
</section>