
<footer class="footer">
      <div class="container footer-container">
        <div class="footer-top">
          <div class="footer-header-link">
            <a href="" class="link footer-link footer-link-small" >
              <svg width="45" height="45" viewBox="0 0 72 78" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_d_74_1186)">
<path d="M51.1613 38.2052L42.7265 18.8842L40.8873 17.6092L38.731 16.9227L35.8137 16.1381L32.3891 17.6092L30.106 18.8842L38.731 38.2052H51.1613Z" fill="url(#paint0_linear_74_1186)"/>
</g>
<g filter="url(#filter1_d_74_1186)">
<path d="M20.8927 31.7431L29.3275 51.1094L31.1667 52.3873L33.3229 53.0755L36.2402 53.8619L39.6649 52.3873L41.948 51.1094L33.3229 31.7431H20.8927Z" fill="url(#paint1_linear_74_1186)"/>
</g>
<path d="M29.6545 19.136L16.5599 38.0638L29.6545 38.2041L39.1204 19.136C39.785 17.1853 41.8644 18.3232 42.8211 19.136C38.7327 11.6453 32.3399 16.0149 29.6545 19.136Z" fill="white"/>
<path d="M42.3455 50.864L55.4401 31.9362L42.3455 31.7959L32.8796 50.864C32.215 52.8147 30.1356 51.6768 29.1789 50.864C33.2673 58.3547 39.6601 53.9851 42.3455 50.864Z" fill="white"/>
<defs>
<filter id="filter0_d_74_1186" x="10.106" y="0.138062" width="61.0554" height="62.0672" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="4"/>
<feGaussianBlur stdDeviation="10"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_74_1186"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_74_1186" result="shape"/>
</filter>
<filter id="filter1_d_74_1186" x="0.892578" y="15.7431" width="61.0554" height="62.1189" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="4"/>
<feGaussianBlur stdDeviation="10"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_74_1186"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_74_1186" result="shape"/>
</filter>
<linearGradient id="paint0_linear_74_1186" x1="48.9799" y1="38.2052" x2="38.9766" y2="19.4911" gradientUnits="userSpaceOnUse">
<stop/>
<stop offset="0.494792" stop-color="white"/>
<stop offset="1" stop-color="white"/>
</linearGradient>
<linearGradient id="paint1_linear_74_1186" x1="23.0741" y1="31.7431" x2="33.1138" y2="50.4816" gradientUnits="userSpaceOnUse">
<stop stop-color="#0C0C0C"/>
<stop offset="0.494792" stop-color="white"/>
<stop offset="1" stop-color="white"/>
</linearGradient>
</defs>
</svg>

              </a>
            <a href="" class="link footer-link footer-link-big">
              <svg width="55" height="55" viewBox="0 0 78 88" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_d_102_110)">
<path d="M57.9511 44.0059L47.4076 19.8545L45.1086 18.2608L42.4133 17.4026L38.7667 16.4219L34.4858 18.2608L31.632 19.8545L42.4133 44.0059H57.9511Z" fill="url(#paint0_linear_102_110)"/>
</g>
<g filter="url(#filter1_d_102_110)">
<path d="M20.1133 35.9295L30.6568 60.1374L32.9558 61.7349L35.6511 62.5951L39.2978 63.5781L43.5786 61.7349L46.4325 60.1374L35.6511 35.9295H20.1133Z" fill="url(#paint1_linear_102_110)"/>
</g>
<path d="M31.0682 20.17L14.6998 43.8298L31.0682 44.0052L42.9005 20.17C43.7312 17.7316 46.3306 19.154 47.5264 20.17C42.4158 10.8066 34.4248 16.2686 31.0682 20.17Z" fill="white"/>
<path d="M46.9318 59.83L63.3002 36.1702L46.9318 35.9948L35.0995 59.83C34.2688 62.2684 31.6694 60.846 30.4736 59.83C35.5842 69.1934 43.5752 63.7314 46.9318 59.83Z" fill="white"/>
<defs>
<filter id="filter0_d_102_110" x="11.632" y="0.421875" width="66.3192" height="67.584" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="4"/>
<feGaussianBlur stdDeviation="10"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_102_110"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_102_110" result="shape"/>
</filter>
<filter id="filter1_d_102_110" x="0.113342" y="19.9297" width="66.3192" height="67.6484" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="4"/>
<feGaussianBlur stdDeviation="10"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_102_110"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_102_110" result="shape"/>
</filter>
<linearGradient id="paint0_linear_102_110" x1="55.2244" y1="44.0059" x2="42.7202" y2="20.6131" gradientUnits="userSpaceOnUse">
<stop/>
<stop offset="0.494792" stop-color="white"/>
<stop offset="1" stop-color="white"/>
</linearGradient>
<linearGradient id="paint1_linear_102_110" x1="22.8401" y1="35.9295" x2="35.3898" y2="59.3526" gradientUnits="userSpaceOnUse">
<stop stop-color="#0C0C0C"/>
<stop offset="0.494792" stop-color="white"/>
<stop offset="1" stop-color="white"/>
</linearGradient>
</defs>
</svg>

              </a>
            <a
              target="_blank"
              href="tel:+380684439426"
              class="footer-text-tele footer-mar link"
              >+380 (68) 443-94-26</a
            >
            <a
              target="_blank"
              href="https://www.google.com/maps"
              class="footer-text-adress link"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </div>
          <nav class="header-navigation">
            <ul class="list link footer-navigation-nav">
              <li>
                <a href="#about" class="footer-list-item link">ABOUT US</a>
              </li>
              <li>
                <a href="#catalog" class="footer-list-item link">CATALOG</a>
              </li>
              <li><a href="#sale" class="footer-list-item link">SALE</a></li>
            </ul>
          </nav>

          <div class="footer-social">
            <ul class="list link footer-social-list">
              <li class="">
                <a
                  target="_blank"
                  href="https://www.youtube.com/"
                  class="link footer-social-item footer-social-svg-1"
                >
                  <svg class="footer-social-svg" width="40px" height="40px">
                    <use
                      class=""
                      href="./img/symbol-defs-social.svg#icon-1"
                    ></use></svg></a>
              </li>
              <li class="">
                <a
                  target="_blank"
                  href="https://www.instagram.com/"
                  class="link footer-social-item footer-social-svg-1"
                >
                  <svg class="footer-social-svg" width="40px" height="40px">
                    <use
                      class=""
                      href="./img/symbol-defs-social.svg#icon-11"
                    ></use></svg></a>
              </li>
              <li class="">
                <a
                  target="_blank"
                  href="https://www.facebook.com/"
                  class="link footer-social-item footer-social-svg-1"
                >
                  <svg class="footer-social-svg" width="40px" height="40px">
                    <use
                      class=""
                      href="./img/symbol-defs-social.svg#icon-12"
                    ></use></svg></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-policy-block-main">
          <p class="copyright-text">
            &#169;2022 The Watch Spot. All rights reserved.
          </p>
          <ul class="footer-policy-block">
            <li class="link">
              <a class="footer-policy-text link" href="">Privacy Policy</a>
            </li>
            <li class="link">
              <a class="footer-policy-text link" href="">Terms of Service</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>