
<footer class="footer">
      <div class="container footer-container">
        <div class="footer-top">
          <div class="footer-header-link">
            <a href="" class="link footer-link footer-link-small">
              <svg class="svg-big" width="40px" height="40px">
                <use href="./img/symbol-defs.svg#icon-logo-12-1"></use>
                </svg></a>
            <a href="" class="link footer-link footer-link-big">
              <svg class="svg-big" width="50px" height="50px">
                <use href="./img/symbol-defs.svg#icon-logo-10-2"></use>
              </svg>
              </a>
            <a
              target="_blank"
              href="tel:+380684439426"
              class="footer-text-tele footer-mar link"
              >+380 (68) 443-94-26</a
            >
            <a
              target="_blank"
              href="https://www.google.com/maps"
              class="footer-text-adress link"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </div>
          <nav class="header-navigation">
            <ul class="list link footer-navigation-nav">
              <li>
                <a href="#about" class="footer-list-item link">ABOUT US</a>
              </li>
              <li>
                <a href="#catalog" class="footer-list-item link">CATALOG</a>
              </li>
              <li><a href="#sale" class="footer-list-item link">SALE</a></li>
            </ul>
          </nav>

          <div class="footer-social">
            <ul class="list link footer-social-list">
              <li class="">
                <a
                  target="_blank"
                  href="https://www.youtube.com/"
                  class="link footer-social-item footer-social-svg-1"
                >
                  <svg class="footer-social-svg" width="40px" height="40px">
                    <use
                      class=""
                      href="./img/symbol-defs-social.svg#icon-1"
                    ></use></svg></a>
              </li>
              <li class="">
                <a
                  target="_blank"
                  href="https://www.instagram.com/"
                  class="link footer-social-item footer-social-svg-1"
                >
                  <svg class="footer-social-svg" width="40px" height="40px">
                    <use
                      class=""
                      href="./img/symbol-defs-social.svg#icon-11"
                    ></use></svg></a>
              </li>
              <li class="">
                <a
                  target="_blank"
                  href="https://www.facebook.com/"
                  class="link footer-social-item footer-social-svg-1"
                >
                  <svg class="footer-social-svg" width="40px" height="40px">
                    <use
                      class=""
                      href="./img/symbol-defs-social.svg#icon-12"
                    ></use></svg></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-policy-block-main">
          <p class="copyright-text">
            &#169;2022 The Watch Spot. All rights reserved.
          </p>
          <ul class="footer-policy-block">
            <li class="link">
              <a class="footer-policy-text link" href="">Privacy Policy</a>
            </li>
            <li class="link">
              <a class="footer-policy-text link" href="">Terms of Service</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>