<section class="hero">
      <div class="container">

        <h1 class="hero-title">Welcome to our collection of premium watches</h1>
        <div class="wrap-sliders">
          <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img 
              srcset="./img/s1.jpg 436w, ./img/s1@2x.jpg 872w"
              sizes="(max-width: 767px) 266px,(min-width: 768px) 436px" 
              src="./img/s1.jpg" alt="clock 1">
            </div>
            <div class="swiper-slide">
              <img 
              srcset="./img/s2.jpg 436w, ./img/s2@2x.jpg 872w"
              sizes="(max-width: 767px) 266px,(min-width: 768px) 436px"
              src="./img/s2.jpg" alt="clock 2">
            </div>
            <div class="swiper-slide">
              <img 
              srcset="./img/s3.jpg 436w, ./img/s3@2x.jpg 872w"
              sizes="(max-width: 767px) 266px,(min-width: 768px) 436px"
              src="./img/s3.jpg" alt="clock 3">
            </div>
            <div class="swiper-slide">
              <img 
              srcset="./img/s4.jpg 436w, ./img/s4@2x.jpg 872w"
              sizes="(max-width: 767px) 266px,(min-width: 768px) 436px"
              src="./img/s4.jpg" alt="clock 4">
            </div>
            <div class="swiper-slide">
              <img 
              srcset="./img/s5.jpg 436w, ./img/s5@2x.jpg 872w"
              sizes="(max-width: 767px) 266px,(min-width: 768px) 436px"
              src="./img/s5.jpg" alt="clock 5">
            </div>
          </div>
        </div>
        <div class="bottom-slider">
          <div class="swiper-buttons">
          <div class="button-prev btn-slide">
            <svg class="icon-slide">
              <use href="./img/icons.svg#icon-left"></use>
            </svg>
          </div>
          <div class="button-next btn-slide">
            <svg class="icon-slide">
              <use href="./img/icons.svg#icon-right"></use>
            </svg>
          </div>
        </div>
          
            <div class="box-padination">
              <div class="swiper-pagination">
            </div>
            </div>
        
        </div>
        </div>
        

        <p class="hero-descr">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>

        <div class="hero-img">
          
        </div>

      </div>
    </section>