<section class="sale-sections">
    <div class="container sale-containor-sections">
        <h2 class="section-n-title">Sale</h2>
        <div class="img-container-n">
            <div class="grup-photo">
            <ul class="sale-img list">
                <li class="sale-item"><img src="./img/1-img-clock.jpg" alt="sale-clock" width="146px" height="146px">
                </li>
                <li class="sale-item"><img src="./img/2-img-clock.jpg" alt="sale-clock" width="146px" height="146px">
                </li>
                <li class="sale-item"><img src="./img/3-img-clock.jpg" alt="sale-clock" width="146px" height="146px">
                </li>
                <li class="sale-item"><img src="./img/4-img-clock.jpg" alt="sale-clock" width="146px" height="146px">
                </li>
            </ul>
            <div class="big-nnn-img-bpx">
                <img src="./img/img-min.jpg" alt="big-img-clock-photo" width="406px"
                        height="614px">
            </div>
        </div>
            <div class="abaut-clock">
                <h3 class="description-title">Greenlane Watch By
                    Police For MenHT </h3>
                <p class="product-code">Product tag: PEWJK2227003</p>
                <div class="price">
                    <p class="min-price">€700</p>
                    <p class="max-price">€1000</p>
                </div>
                <h3 class="description-clock-title">Description <span class="text-decoration-line">&#9135</span></h3>
                <p class="description-clock-text">Richly detailed with an understated design - the Police Men’s
                    Greenlane
                    watch features a versatile
                    multifunction design that fits effortlessly into work and play. The steel case is adorned with a
                    semi-transparent black dial. The timepiece exhibits a contrast through a black IP bracelet with
                    matching
                    crown and pushers.</p>
                <h3 class="characteristic-title">DETAILS & FEATUREStion <span
                        class="text-decoration-line-limon">&#9135</span> </h3>
                <ul class="characteristic-text-list list">
                    <li class="characteristic-text">Gender: man</li>
                    <li class="characteristic-text">Size: 46x54.5mm</li>
                    <li class="characteristic-text">Case Colour: Steel</li>
                    <li class="characteristic-text">Band Material: Metal</li>
                    <li class="characteristic-text">Case Material: Metal</li>
                    <li class="characteristic-text">Features: Multifunction</li>
                    <li class="characteristic-text">Water Resistant: 5 (ATM)</li>
                    <li class="characteristic-text">Band Colour: Steel</li>
                </ul>
            </div>
        </div>
    </div>
</section>