.footer {
  background-color: #1e2827;
}

.link {
  text-decoration: none;
  list-style: none;
}

.footer-container {
  padding-top: 40px;
  padding-bottom: 20px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-link {
  cursor: pointer;
  width: 40px;
}
.footer-mar {
  margin-top: 40px;
  display: block;
}
.footer-text-tele {
  font-family: "Epilogue";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-navigation-nav > li:not(:last-child) {
  margin-bottom: 14px;
}
.footer-list-item {
  font-family: "Epilogue";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-text-adress {
  font-family: "Epilogue";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 141px;
  display: block;
}
.footer-social {
  display: flex;
  justify-content: start;
}
.footer-social-list {
  display: flex;
  gap: 14px;
}

.footer-social-svg {
  fill: #fff;
  color: #fff;
  stroke: #ffffff;
  transition-property: fill;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-svg:hover,
.footer-social-svg:focus {
  fill: tomato;
  stroke: #1e2827;
}
.footer-policy-block-main {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.copyright-text {
  font-family: "Epilogue";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #c6cdd1;
  opacity: 0.9;
}

.footer-policy-text {
  font-family: "Epilogue";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #c6cdd1;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-policy-block {
  display: flex;
  gap: 14px;
  margin-top: 14px;
}

.footer-policy-text:hover,
.footer-policy-text:focus {
  color: tomato;
  border: 1px solid tomato;
  border-radius: 6px;
}

.footer-list-item:hover,
.footer-list-item:focus {
  opacity: 0.6;
  scale: 1.2;
}
.footer-link-big {
  display: none;
}

/*FOOTER MEDIA*/
@media screen and (min-width: 335px) {
  .footer .container {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    width: 704px;
  }
  .footer-text-tele {
    font-size: 18px;
    line-height: 1.33;
  }
  .footer-text-adress {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 152px;
  }
  .footer-list-item {
    font-size: 18px;
    line-height: 1.33;
  }
  .footer-navigation-nav > li:not(:last-child) {
    margin-bottom: 18px;
  }
  .footer-social-list {
    gap: 16px;
  }
  .footer-policy-block-main {
    margin-top: 0;
    justify-content: space-between;
  }
  .footer-policy-block {
    margin-top: 0;
    gap: 18px;
  }
  .copyright-text {
    font-size: 14px;
    line-height: 1.29;
  }
  .footer-policy-text {
    font-size: 14px;
    line-height: 1.29;
  }
  .footer-link-big {
    display: block;
  }
  .footer-link-small {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .footer .container {
    width: 1016px;
  }
}
