.small-new-watches-title {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.06em;
  color: rgba(20, 20, 20, 0.4);
  margin-bottom: 8px;
}
.new-watches-container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.new-watches-main-container {
}
.new-watches-title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: calc(40 / 32);
  letter-spacing: -0.02em;
  color: #141414;
  margin-bottom: 40px;
}
.new-watches-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.new-watches-item-first {
}
.new-watches-item {
}

@media screen and (min-width: 768px) {
  .new-watches-container {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .new-watches-title {
    width: 448px;
    height: 88px;
    font-size: 40px;
    line-height: calc(44 / 40);
  }
  .new-watches-list {
    display: flex;
    gap: 20px;
  }

  .new-watches-item {
    width: 342px;
    height: 260px;
  }
}

@media screen and (min-width: 1280px) {
  .new-watches-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .new-watches-title {
    margin-bottom: 80px;
  }
  .new-watches-list {
    display: flex;
    gap: 24px;
  }

  .new-watches-item {
    width: 576px;
    height: 422px;
  }
}
