/* Reset styles */
:root {
  --color-black: #141414;
  --color-dark-green: #1e2827;
  --color-white: #ffffff;
}
body {
  font-family: "Epilogue", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 335px) {
  .container {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 734px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1206px;
  }
}